.main {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover; 
}

.landingbutton {
  width: 200px;
  height: 55px;
}

/* d-none d-lg-block */

@media only screen and (max-width: 1200px) {
  .landingbutton {
    width: 85px;
    height: 55px;
  }
}

@media only screen and (max-width: 768px) {
  .landingbutton {
    display: none;
  }
}